<div class="login-container">
  <!-- Panel Izquierdo -->
  <div class="left-panel">
    <img src="assets/logologin.png" alt="Illustration">
  </div>

  <!-- Panel Derecho -->
  <div class="right-panel">
    <div class="logo">
      <img src="assets/logo.png" alt="Trade It Logo">
    </div>
    <h2>Welcome</h2>

    <form>
      <div class="form-group">
        <input type="text" placeholder="Nombre" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required>
      </div>
      <button type="button" class="login-button" (click)="onLoginClick()">Ingresar</button>
    </form>

    <p class="register-link">
      ¿No tienes cuenta?
      <a href="#" (click)="navigateToRegister()">¡Regístrate aquí!</a>
    </p>
  </div>
</div>
