<div class="login-container">
  <div class="left-panel">
    <img src="assets/logologin.png" alt="Ilustración" />
  </div>

  <div class="right-panel">
    <div class="logo">
      <img src="assets/logooriginal.png" alt="Logo" />
    </div>
    <h2>Registro</h2>

    <form (ngSubmit)="onRegisterClick()" #registerForm="ngForm">
      <div class="form-group">
        <input
          type="text"
          placeholder="Nombre de usuario"
          name="username"
          [(ngModel)]="formData.username"
          #username="ngModel"
          required
        />
        <div *ngIf="username.invalid && username.touched" class="error">
          El nombre de usuario es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <input
          type="email"
          placeholder="Correo Electrónico"
          name="email"
          [(ngModel)]="formData.email"
          #email="ngModel"
          required
        />
        <div *ngIf="email.invalid && email.touched" class="error">
          El correo electrónico no es válido.
        </div>
      </div>

      <div class="form-group">
        <input
          type="password"
          placeholder="Contraseña"
          name="password"
          [(ngModel)]="formData.password"
          #password="ngModel"
          required
        />
        <div *ngIf="password.invalid && password.touched" class="error">
          La contraseña es obligatoria.
        </div>
      </div>

      <div class="form-group">
        <input
          type="password"
          placeholder="Confirmar Contraseña"
          name="confirmPassword"
          [(ngModel)]="formData.confirmPassword"
          #confirmPassword="ngModel"
          required
        />
        <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="error">
          Debes confirmar tu contraseña.
        </div>
      </div>

      <button type="submit" class="login-button" [disabled]="registerForm.invalid">
        Registrarse
      </button>
    </form>

    <p class="register-link">
      ¿Ya tienes una cuenta?
      <a (click)="navigateToLogin()">Inicia sesión aquí</a>
    </p>

    <button class="login-button" (click)="goBack()">Regresar</button>
  </div>
</div>
